body {

    margin: 0px;
    color: rgb(182, 84, 84);
    font-family: Roboto, sans-serif;
}

div {

    display: inline-block;
}





#menu {

    display: block;
}

#menu > div  {

    grid-template-columns: 4% 3fr 1fr 4%;
    display: grid;
}

#menu #login {

    grid-column-start: 3;
    text-align: right;
}

#menu #logo {

    grid-column-start: 2;
}

#menu li {

    display: inline-block;
}






.main {

    display: grid;
    grid-template-columns: 4% minmax(150px, 1fr) 4fr 4%;
    grid-template-rows: 30px 1fr;
}

.main > .sideBar {

    grid-column-start: 2;
    grid-row-start: 2;
}

.main > .mainContent {

    grid-column-start: 3;
    grid-row-start: 2;
}

table {

    text-align: left;
}

td {

    padding-right: 20px;
}

input {

    display: block;
}